:root {
  --uncommon: radial-gradient(#2cb04f, green);
  --rare: radial-gradient(#3477c9, blue);
  --epic: radial-gradient(#b132bf, purple);
  --legendary: radial-gradient(#e6c455, orange);
  --mythic: gold;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
}

#nav-logo{
  margin-left: 10vw;
  width: 50%;
  color: white;
}

.nav-item{
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  color: white;
  width: 50%;
}

a{
  text-decoration: none;
}

a:hover{
  color: #3d6687;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.item-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.item-name{
  font-weight: bold;
}

.price-icon{
  width: 15px;
  height: 15px;
}

.item-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

#uncommon{
  background: var(--uncommon);
  border-width: 2px;
  border-color: darkgreen;
}

#rare{
  background: var(--rare);
}

#epic{
  background: var(--epic);
}

#legendary{
  background: var(--legendary);
}

@media screen and (min-width: 320px){
  .nav{
    width: 100%;
  }
  .item-image{
    width: 150px;
    height: 150px;
  }
  .item-list{
    width: 100%;
  }
}

@media screen and (min-width: 720px){
  .nav{
    width: 70%;
  }
  .item-name{
    font-size: 20px;
  }
  .item-image{
    width: 200px;
    height: 200px;
  }
  .item-list{
    width: 70%;
  }
}