:root {
  --uncommon: radial-gradient(#2cb04f, green);
  --rare: radial-gradient(#3477c9, blue);
  --epic: radial-gradient(#b132bf, purple);
  --legendary: radial-gradient(#e6c455, orange);
  --mythic: gold;
  --light-green: #60db4b;
  --light-blue: #4caed9;
  --light-purple: #af54e3;
  --light-orange: #e6c455;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
}

#nav-logo{
  width: 50%;
}

.nav-items{
  width: 50%;
}

.nav-item{
  display: flex;
  justify-content: flex-end;
}

a{
  text-decoration: none;
}

a:hover{
  color: #3d6687;
}

.item-show, .item-true{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: white;
}

.item-false{
  display: none;
}

.item-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.item-name{
  font-weight: bold;
}

.price-icon{
  width: 15px;
  height: 15px;
}

.item-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

#uncommon{
  background: var(--uncommon);
  border: 3px solid var(--light-green);
}

#rare{
  background: var(--rare);
  border: 3px solid var(--light-blue);
}

#epic{
  background: var(--epic);
  border: 3px solid var(--light-purple);
}

#legendary{
  background: var(--legendary);
  border: 3px solid var(--light-orange)
}

#show-more-button{
  border-radius: 2px;
  border: none;
  background: #3477c9;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 320px){
  #page-greeting{
    font-size: calc(20px + 2 * ((100vw - 320px) / 680));
  }
  .nav{
    width: 90%;
  }
  .item-show, .item-true{
    margin: 5px 5px 5px 5px;
  }
  .item-image{
    width: 150px;
    height: 150px;
  }
  .item-list{
    width: 100%;
  }
  .item-price{
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }
  #show-more-button{
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
    width: 85%;
    height: 35px;
  }
}

@media screen and (min-width: 720px){
  #page-greeting{
    font-size: 32px;
  }
  .nav{
    width: 50%;
  }
  .item-show, .item-true{
    margin: 8px 8px 8px 8px;
  }
  .item-name{
    font-size: 20px;
  }
  .item-image{
    width: 225px;
    height: 225px;
  }
  .item-list{
    width: 70%;
  }
  .item-price{
    font-size: 18px;
  }
  #show-more-button{
    font-size: 20px;
    width: 55.5%;
    height: 50px;
  }
}